@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

/*Main Wrapper conrnent */
::-webkit-scrollbar {
  width: 4px;
}
/*
    /* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}
::-moz-scrollbar-track {
  background: #1a1a1a;
}
/* Handle */
::-moz-scrollbar-thumb {
  background: #1a1a1a;
}
/* Handle on hover */
::-moz-scrollbar-thumb:hover {
  background: #1a1a1a;
}
input:focus {
  outline: none;
}
body,
html {
  background-color: black;
  overflow-x: hidden;
  font-family: "Londrina Solid", cursive;
  min-height: 100vh;
}
a:hover {
  text-decoration: none;
}
.uk-offcanvas-bar {
  width: 180px;
  max-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  padding: 40px 12px;
  background-color: #1a1a1a;
  overflow-y: auto;
  position: relative;
  background-image: url('http://localhost:8000/storage/app/media/aside.png');
  background-size: 10px;
  background-repeat: repeat-y;
  background-position: right;
}
.main_Page_scroll {
  width: calc(100vw - 180px);
  margin-left: auto;
  overflow: hidden;
  min-height: 100vh;
}
.bestil_nav {
  height: 30px;
  background-color: #ac1005;
  display: inline !important;
  line-height: 78px;
  padding: 6px 14px !important;
  border-radius: 30px;
  color: white !important;
  font-weight: 500;
  font-size: 13px !important;
}
.logo_side {
  width: 100px;
}
.SmallLogo{
  transition: 0.3s all;
  height: 80px !important;
}
.largeBG{
  height: 88px !important;
  display: block;
  transition: 0.3s all;
}
.links_wrap {
  flex: 1 0 auto;
  list-style: none;
  padding: 20px 0;
  white-space: nowrap;
  margin: 0;
  padding: 25px 0 0px 0px;
}
.links_wrap li a {
  width: 100%;
  display: inline-block;
  height: 30px;
  line-height: 42px;
  color: #fff;
  padding: 0px 45px;
  font-weight: 500;
  font-family: "New Tegomin", serif;
}
.apple img {
  width: 180px;
  height: 45px;
}
.social_icons {
  margin-top: 25px;
}
/*NavBar */
.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #1a1a1a;
  box-shadow: 0px 2px 7px #1d1c1c;
  display: none;
  /*border-top: 2px solid #a51817;*/
}
#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #2b2c2f;
  background-image: url("../imges/slider/loader.gif");
}
footer {
  background-color: #1a1a1a;
  padding: 25px 0px;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
  font-family: "New Tegomin", serif;
}
footer p {
  margin: 0px;
  font-size: 15px;
}

.uk-modal-full {
  width: calc(100vw - 180px);
  margin-left: auto;
}
.uk-modal {
  position: fixed;
  height: 102vh;
  top: 0;
}
.uk-modal-full .uk-modal-dialog {
  min-height: 100vh;
  background-color: black;
  color: white;
}
.uk-modal-full h3,
.uk-modal-full h2 {
  color: white;
}

.uk-modal-close-full {
  top: 0;
  right: 0;
  padding: 20px;
  background: #ac1005;
  color: white;
}
.uk-modal-close-full:hover {
  color: white;
}

@media (max-width: 899px) {
  .main_Page_scroll {
    width: calc(100vw);
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    overflow: hidden;
  }
  .teams {
    width: calc(100%) !important;
  }

  .uk-navbar-container,
  .uk-sticky-placeholder {
    height: 70px;
    display: block;
    transition: 0.3s all;
  }
  .uk-navbar-container img {
    height: 100px;
    object-fit: contain;
    padding-top: 10px;
    transition: 0.3s all;
    object-fit: contain;
  }
  .uk-navbar-container:not(.uk-navbar-transparent) {
    background: #1a1a1a;
    box-shadow: 0px 2px 7px #1d1c1c;
    display: flex;
    z-index: 101;
    /*border-top: 2px solid #a51817;*/
  }
  .uk-navbar-container svg:not(:root) {
    overflow: hidden;
    color: white !important;
    width: 28px;
}
  .main_title {
    font-size: 30px !important;
  }
  .main_title i {
    font-size: 22px !important;
    top: -6px !important;
    left: -18px !important;
  }
  .uk-modal-full {
    width: calc(100vw);
  }
}

@media (max-width: 767px) {
  .teams .owl-item.active.center .Bestil_btn i {
    left: -40px !important;
  }
  .teams .owl-item.active.center .Bestil_btn:hover i {
    top: -12px;
    left: -15px !important;
  }
  #customers-teams.owl-carousel .owl-dots {
    bottom: 20px !important;
  }
  footer p {
    font-size: 13px;
  }
}